[Desktop Entry]
Type=Application
Name=Mate Paint
Comment=Create and edit images
X-GNOME-Gettext-Domain=matepaint
Exec=matepaint
Icon=/usr/share/matepaint/data/icons/48x48/mp.xpm
Terminal=false
Categories=Graphics;2DGraphics;
StartupNotify=true
